<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Dev\ProductComments\Model\ResourceModel\Comment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_comments</argument>
            <argument name="resourceModel" xsi:type="string">Dev\ProductComments\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dev_productcomments_comment_listing_data_source" xsi:type="string">Dev\ProductComments\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>